<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <title><%=title %></title>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.4/css/bootstrap.min.css"
      clossorigin="anonymous"
    />
  </head>

  <body class="container">
    <header>
      <h1 class="display-4"><%=title %></h1>
    </header>

    <div role="main">
      <p><%=content %></p>
      <p><a href="/other">otherページに移動 &gt;&gt;</a></p>
      <table>
        <tr>
          <th>伝言です！</th>
        </tr>
        <tr>
          <td><%=data.msg%></td>
        </tr>
      </table>

      <h1>クッキーのメッセージ</h1>
      <p><%=cookie_data%></p>
      <form method="post" action="/">
        <label for="msg">MESSAGE</label>
        <input type="text" name="msg" id="msg" /><input
          type="submit"
          value="送信"
        />
      </form>
    </div>
  </body>
</html>
