<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="container">
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">
      <table>
        <% for (var i in content) {%> <% var obj =content[i]%>
        <tr>
          <th><%=obj.id%></th>
          <td><%=obj.name%></td>
          <td><%=obj.email%></td>
          <td><%=obj.age%></td>
        </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
